                        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Trispace:wght@200;400;700&display=swap');
                    * {
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        text-decoration: none;
                        list-style: none;
                        font-family: 'Trispace', sans-serif;
                        scroll-behavior: smooth;
                    }
                    
                    html::-webkit-scrollbar {
                        width: 0.5rem;
                        background-color: var(--bg-color);
                    }
                    
                    html::-webkit-scrollbar-thumb {
                        background: var(--main-color);
                        border-radius: 10px;
                    }
                    /* fonts  */
                    /* font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Trispace', sans-serif; */
                    /* global configure  */
                    
                     :root {
                        --bg-color: #020916;
                        --theme-color: #7cc602;
                        --main-color: #62d10b;
                        --font-color: #efe9e9;
                        --font-color2: #020916;
                    }
                    
                    body {
                        background-color: var(--bg-color);
                        color: var(--font-color);
                    }
                    
                    header {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 30px 100px;
                        position: sticky;
                        top: 0;
                        background-color: var(--bg-color);
                        z-index: 1;
                    }
                    /* nav bar  */
                    
                    .logo {
                        font-size: 25px;
                        font-weight: bold;
                        color: var(--font-color);
                        display: flex;
                        align-items: center;
                    }
                    
                    .logo span {
                        color: var(--main-color);
                        margin-left: 8px;
                    }
                    
                    header ul {
                        display: flex;
                        column-gap: 4rem;
                        align-items: center;
                    }
                    
                    .nav-bar li {
                        position: relative;
                    }
                    
                    header ul a {
                        color: var(--font-color);
                        font-weight: 500;
                    }
                    
                    header ul a::after {
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: var(--main-color);
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        transition: 0.5s;
                    }
                    
                    header ul a:hover::after,
                    .nav-bar .active::after {
                        width: 100%;
                    }
                    
                    .btn {
                        color: var(--font-color2);
                        font-weight: bold;
                        padding: 10px 20px;
                        background-color: var(--main-color);
                        border-radius: 20px;
                        transition: 0.5s;
                    }
                    
                    .btn:hover {
                        background-color: var(--theme-color);
                    }
                    /* nav bar css end  */
                    /* cover section css  */
                    
                    .container {
                        display: flex;
                        width: 100%;
                        min-height: 640px;
                        position: relative;
                        align-items: center;
                    }
                    
                    .container img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        object-fit: cover;
                        object-position: center;
                        opacity: 0.5;
                    }
                    
                    .home-text {
                        padding-left: 160px;
                    }
                    
                    .home-text span {
                        font-weight: 500;
                        font-size: 1.7rem;
                        text-transform: uppercase;
                        color: var(--font-color);
                    }
                    
                    .home-text h1 {
                        font-weight: 600;
                        font-size: 3rem;
                        color: var(--font-color);
                        margin-bottom: 20px;
                    }
                    
                    .home-text .play {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        right: 100px;
                        bottom: 5%;
                        transition: .5s;
                    }
                    
                    .home-text .play .bx {
                        font-size: 16px;
                    }
                    
                    .home-text .play:hover {
                        transform: scale(1.2);
                    }
                    /* cover section css end  */
                    /* movies css section  */
                    
                    .movie h1 {
                        max-width: 968px;
                        font-weight: 500;
                        font-size: 1.5rem;
                        border-bottom: 1px solid var(--main-color);
                        margin: 10px auto 5px auto;
                    }
                    
                    .movie-container {
                        max-width: 960px;
                        margin: 20px auto 20px auto;
                        display: grid;
                        /* grid-template-columns: auto auto auto auto; */
                        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
                        gap: 15px;
                    }
                    
                    .box .box-img {
                        width: 100%;
                        height: 320px;
                    }
                    
                    .box h3 {
                        font-weight: 500;
                        margin-top: 1.5rem;
                    }
                    
                    .box span {
                        font-size: 0.8rem;
                        margin-bottom: 1.5rem;
                    }
                    
                    .box .box-img img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: 0.5s;
                    }
                    
                    .box .box-img img:hover {
                        transform: scale(1.07);
                    }
                    /* movies css section end  */
                    /* series css section start  */
                    
                    .series h1 {
                        max-width: 968px;
                        font-weight: 500;
                        font-size: 1.5rem;
                        border-bottom: 1px solid var(--main-color);
                        margin: 10px auto 5px auto;
                    }
                    /* series css section end  */
                    /* contact section start here  */
                    
                    .newsletter {
                        max-width: 968px;
                        display: flex;
                        margin: 30px auto;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .newsletter h1 {
                        font-weight: 500;
                        font-size: 1.5rem;
                        margin: 10px auto 20px auto;
                    }
                    
                    .newsletter form {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        background-color: var(--font-color);
                        border-radius: 2rem;
                    }
                    
                    .newsletter form .btn {
                        border: none;
                        outline: none;
                        max-width: 80px;
                    }
                    
                    .newsletter form .email {
                        border: none;
                        outline: none;
                        max-width: 300px;
                        background-color: var(--font-color);
                    }
                    /* contact section end here  */
                    /* footer section css start  */
                    
                    .footer {
                        display: flex;
                        max-width: 968px;
                        justify-content: space-between;
                        margin: 20px auto;
                    }
                    
                    .social {
                        display: flex;
                        gap: 1rem;
                    }
                    
                    .social .bx {
                        background-color: var(--main-color);
                        padding: 8px;
                        color: var(--font-color2);
                        border-radius: 50%;
                    }
                    
                    .copyright {
                        max-width: 968px;
                        margin: 30px auto;
                    }
                    
                    .copyright p {
                        text-align: justify;
                        font-size: 0.7rem;
                        font-weight: 100;
                        color: #c5c2c2;
                    }
                    /* footer section css end  */
                    /* responsive  */
                    
                    @media (max-width: 1180px) {
                        .nav-bar {
                            display: none;
                        }
                    }
                    
                    @media (max-width: 800px) {
                        .home-text h1 {
                            font-size: 1.7rem;
                        }
                        .home-text {
                            padding-left: 7%;
                        }
                        header {
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 4%;
                        }
                        @media (max-width: 525px) {
                            header .logo {
                                font-size: 17px;
                            }
                            header .btn {
                                padding: 0.5rem 0.7rem;
                            }
                            header {
                                display: flex;
                                justify-content: space-between;
                                padding: 10px 2%;
                            }
                            .home-text h1 {
                                font-size: 1.2rem;
                                font-weight: 200;
                            }
                            .home-text span {
                                font-size: 17px;
                                font-weight: 300;
                            }
                            .home-text {
                                padding-left: 5%;
                                font-size: 15px;
                            }
                            .home-text .btn {
                                font-weight: 500;
                            }
                            .home-text .play {
                                bottom: 20%;
                            }
                            .footer {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                row-gap: 1.2rem;
                            }
                        }